@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width:thin;
}

*::-webkit-scrollbar {
  width:8px;
  background-color: grey;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.App {
  min-height: 98.5vh;
  border: 8px solid #dad8d1;
  font-family: 'Poppins', sans-serif;
}